@model IEnumerable<VroomAppTwo.Models.Make>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div class="row">
    <div class="col-6">
        <h2 class="text-info">Makes of Vehicle</h2>
    </div>
    <div class="col-6 text-right">
        <a class="btn btn-info" asp-action="Create">Add New Make &nbsp;<i class="fas fa-motorcycle"></i></a>
    </div>
    <br />
    <div class="col-12">
        <table class="table table-striped border">
            <tr class="table-info">
                <th>
                    @Html.DisplayNameFor(m => m.Name)
                </th>
                <th>

                </th>
            </tr>
            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(m => item.Name)
                    </td>

                    <td class="text-right">
                        <div class="btn-group" role="group">


                            <a class="btn btn-primary rounded-2 m-1" asp-controller="Make"  asp-action="Edit" asp-route-Id="@item.Id"><i class="far fa-edit"></i></a>
                            <form method="post" asp-controller="Make" asp-action="Delete">
                                <button onclick="if (!confirm(' Are You sure you want to delete this make')){return false}" type="submit" class="btn btn-danger rounded-2 m-1" asp-action="Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></button>
                            </form>

                        </div>
                    </td>

                </tr>

            }

        </table>
    </div>
</div>